* {
    margin: 0;
}

.container {
    background-color: #f5f5f6;
    min-height: 1000px;
}

.more {
    text-align: center;
}

.more a {
    text-decoration: none;
    color: #f05626;
}

.more-icon{
    font-size: 0.7rem;
    vertical-align: middle;
}
/* header */
header {
    background-color: #f05626;
    height: 116px;
}

.menu {
    width: 60%;
    height: 60px;
    display: flex;
}

.menu a img {
    margin-top: 7px;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    justify-content: space-between;
    margin: auto;
    font-size: 1.1rem;
}

.sub-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sub-header a {
    /* width: 340px; */
    text-decoration: none;
    font-size: 1rem;
    color: aliceblue;
    font-weight: 600;
}

.search {
    width: 68%;
    background-color: #ffffff;
    height: 40px;
    border-radius: 4px;
    position: relative;
}

.search-input {
    outline: none;
    border: none;
    width: 650px;
    height: 100%;
    font-size: 1rem;
    padding: 0;
}

::placeholder{
    color:#dbdce0;
}

.icon-search {
    padding: 10px 20px;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    background: url(../img/search.png) no-repeat center;
}


.history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 7px #999;
    overflow: hidden;
    display: none
}

.sub-his {
    margin: 10px 14px;
    font-size: 1.1rem;
    color: #81838a;
    font-weight: 500;
}

.menu-list-history {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.list-item-history {
    padding: 0 14px;
    height: 38px;
}

.list-item-history:hover {
    background-color: #f0eded;
    cursor: pointer;
}

.list-item-history a {
    text-decoration: none;
    font-size: 1rem;
    color: #23242a;
    line-height: 38px;
    font-weight: 400;
}

.post {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
}

/* Section */
section{
    padding: 1rem;
}

.nav{
    width: 50%;
    margin: 0 1rem;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;

}

.list-item a{
    text-decoration: none;
    color: #81838a;
}

.list-item a:hover{
    color: #23242a;
}

.icon-nav{
    font-size: 0.75rem;
    color: #dbdce0;
    padding: 0 0.7rem;
}

/* slideshow */

.slide{
    padding: 1rem 1.5rem;
    margin: 0;
    display: flex;
}

.slider{
    box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.31);
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    width: 850px;
    height: 80%;
    margin-right: 1rem;    
}

.sidebar {
width: 250px;
height: 230px;
box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.31);
background-color: #ffffff;
padding: 1rem 1.5rem;
border-radius: 5px;
}

.main{
    height: 80%;
    margin-bottom: 10px;
    position: relative;

}

.img-feature{
    width: 626px;
    height: 470px;
    display: block;
    margin: auto;
}

.list-img{
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.img-slide{
    width: 120px;
    height: 65px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.img-slide:hover{
    border: 1px solid #f05626;
    cursor: pointer;
}

.control{
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    color:#bababc;
    transform: translateY(-50%);
}

.prev{
    left: 20px;
}

.next{
    right: 20px;
}

.slide-location{
    margin: 1.5rem 0 0.5rem 0;
    color: #81838a
}

.slide-location span{
    margin-right: 1.7rem
}

.slide-location span i{
    margin-right: 6px;
    font-size: 1rem;
}

.slide-save {
    display: flex;
    justify-content: space-between;
}

.slide-save span {
    color: #F05626;
    font-size: 1.3rem;
    font-weight: 700
}

.sidebar-save-message{
    border: 0.5px solid rgb(238, 224, 224);
    border-radius: 3px;
    width: 85px;
    height: 28px;
}

.sidebar-save-message a{
    color: #23242a;
    font-size: 1rem;
    text-decoration: none;
    padding: 4px 6px;
}

.sidebar-save-message:hover{
    border: 1px solid rgb(129, 122, 122);
}

.sidebar-save-message a i{
    margin-left: 4px;
    margin-top: 5px;
   
}

.slide-describe{
    margin-top: 1rem;
}

.slide-describe h3{
    margin-bottom: 0.4rem;
    color: #23242a;
}

.slide-describe p{
    font-size: 1.1rem;
    line-height: 1.3;
    color: #64666F;
}

.slide-detail{
    margin-top: 1.5rem;
}

.slide-detail div {
  margin-top: 0.75rem;
}

.slide-detail table {
  font-size: 16px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #E9E9ED;
  border-radius: 5px;
}

.slide-detail td {
  padding: 0.8rem;
}

.slide-detail tr:nth-child(even) {
  background-color: #f2f2f2;
}

.slide-detail td:nth-child(1) {
  border-right: 1px solid #E9E9ED;
  color: #5b5d5b;
}

.slide-detail td:nth-child(2) {
  font-weight: bold;
}

.slide-detail tr:nth-child(2n) td {
  background-color: #f2f2f2;
}

.tb-icon{
    margin-right: 6px;
    color: #5b5d5b
}
/* sidebar */
.sidebar h3{
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.sidebar div h4{
    font-size: 1.1rem;
}

.sidebar div p{
    color: #818593;
    margin-top: 0.6rem;
}

.sidebar div p i{
    margin-right: 5px;
    vertical-align: middle;
}

.sidebar-contact{
    width: 240px;
}

.sidebar-contact a {
    text-decoration: none;
}

.sidebar-contact1{
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center; /* căn giữa dọc */
    width: 100%;
    height: 40px;
    border: 1px solid #f05626;
    border-radius: 6px;
    margin-top: 1rem;
}

.sidebar-contact-hotline{
    color: #ffffff;
    font-weight: 600;
    padding: 10px 4rem;
}

.sidebar-contact-for{
    color: #f05626;
    font-weight: 600;
    padding: 10px 4.5rem;
}

.contact-hotline{
    background-color: #F05626;
}

.icon-sidebar{
    font-size: 15px;
    margin-right: 5px;
}

/* more car */
.more-car{
    margin: 0.7rem 1.5rem;
}

.list-news {
    display: grid;
    grid-template-columns: repeat(4,288px);
    grid-gap: 14px;
    /* fr: fraction */
    margin-bottom: 1rem;
}

.news-item {
    width: 285px;
    border: 1px solid none;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left:2px;
}

.news-item-img {
    height: 162px;
    width: 285px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.news-item-heading {
    padding: 10px;
}

.news-item-heading-icon{
    color: #dbdce0;
    font-size: 0.3rem;
    padding: 0 3px;
    vertical-align: middle;
}

.news-item-heading-icon-small{
    color: #818593;
    font-size: 0.15rem;
    padding: 0 3px;
    vertical-align: middle;
}

.news-item-heading a{
    text-decoration: none;
    color: black;
}

.news-item-heading h4 {
    margin: 0px 0 7px;
    font-size: 1rem;
}

.news-item-heading p {
    margin: 0px 0 5px;
    color: #818593;
    font-size: 15px;
}

.more-car h2 {
    padding: 0 0 0.6rem 0;
    font-size: 1.3rem;
}

.more {
    text-align: center;
}

.more a {
    text-decoration: none;
    color: #f05626;
}

.more-icon{
    font-size: 0.7rem;
    vertical-align: middle;
}


/* xe cung phan khuc: samesame-car */
.same-car{
    margin: 1rem 1.5rem;
}

.same-car h2 {
    padding: 0 0 0.6rem 0;
    font-size: 1.3rem;
}


/* cac tin khac cung nguoi bán: more-news */
.more-news{
    margin: 1rem 1.5rem;
}

.more-news h2 {
    padding: 0 0 0.6rem 0;
    font-size: 1.3rem;
}

.more-news div{
    text-align: center;
    color: #999;
    font-size: 1.1rem;
    margin: 1rem 0 0 ;
}

.more-news div span i{
    font-size: 4.5rem;
    margin: 1rem 0;
}






/* Footer */
footer{
    background-color: #23242a;
    color: #ffffff;
    padding: 3rem 0;
}

.conclusion {
    padding: 0 2rem;
}


.footer-intro{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-info{
    width: 400px;
}

.footer-info-contact a{
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}

.footer-icon {
    font-size: 0.9rem;
    vertical-align: middle;
}

.footer-link a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    margin-bottom: 2.3rem;
}

.footer-link a:hover{
    color: #F05626;
}

.footer-contact{
    width: 450px;
}


.footer-contact a{
    text-decoration: none;
}

.footer-contact1{
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center; /* căn giữa dọc */
    width: 100%;
    height: 40px;
    border: 1px solid #f05626;
    border-radius: 6px;
    margin-top: 2rem;
}

.footer-contact-hotline{
    color: #F05626;
    font-weight: 600;
    padding: 10px 8.8rem;
}

.footer-contact-hotline:hover{
    color: #ffffff;
}

.footer-contact-for{
    color: #ffffff;
    font-weight: 600;
    padding: 8px 7.8rem;
}

.footer-contact2{
    background-color: #F05626;
}

