:root {
    --background-color: #F05626;
    --footer-color:#23242A;
    --white-color: #fff;
}

ul,a {
    text-decoration: none;
    list-style: none;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

/* header */
header {
    background-color: #f05626;
    height: 116px;
}

.menu {
    width: 60%;
    height: 60px;
    display: flex;
}

.menu a img {
    margin-top: 7px;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    justify-content: space-between;
    margin: auto;
    font-size: 1.1rem;
}

.sub-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sub-header a {
    /* width: 340px; */
    text-decoration: none;
    font-size: 1rem;
    color: aliceblue;
    font-weight: 600;
}

.search {
    width: 68%;
    background-color: #ffffff;
    height: 40px;
    border-radius: 4px;
    position: relative;
}

.search-input {
    outline: none;
    border: none;
    width: 650px;
    height: 100%;
    font-size: 1rem;
    padding: 0;
}

::placeholder{
    color:#dbdce0;
}

.icon-search {
    padding: 10px 20px;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    background: url(../img/search.png) no-repeat center;
}


.history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 7px #999;
    overflow: hidden;
    display: none
}

.sub-his {
    margin: 10px 14px;
    font-size: 1.1rem;
    color: #81838a;
    font-weight: 500;
}

.menu-list-history {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.list-item-history {
    padding: 0 14px;
    height: 38px;
}

.list-item-history:hover {
    background-color: #f0eded;
    cursor: pointer;
}

.list-item-history a {
    text-decoration: none;
    font-size: 1rem;
    color: #23242a;
    line-height: 38px;
    font-weight: 400;
}


.post {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
}
header {
    background-color: #f05626;
    height: 116px;
}

.menu {
    width: 60%;
    height: 60px;
    display: flex;
}

.menu a img {
    margin-top: 7px;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    justify-content: space-between;
    margin: auto;
    font-size: 1.1rem;
}

.sub-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sub-header a {
    /* width: 340px; */
    text-decoration: none;
    font-size: 1rem;
    color: aliceblue;
    font-weight: 600;
}

.search {
    width: 68%;
    background-color: #ffffff;
    height: 40px;
    border-radius: 4px;
    position: relative;
}

.search-input {
    outline: none;
    border: none;
    width: 650px;
    height: 100%;
    font-size: 1rem;
    padding: 0;
}

::placeholder{
    color:#dbdce0;
}

.icon-search {
    padding: 10px 20px;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    background: url(../img/search.png) no-repeat center;
}


.history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 7px #999;
    overflow: hidden;
    display: none
}

.sub-his {
    margin: 10px 14px;
    font-size: 1.1rem;
    color: #81838a;
    font-weight: 500;
}

.menu-list-history {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.list-item-history {
    padding: 0 14px;
    height: 38px;
}

.list-item-history:hover {
    background-color: #f0eded;
    cursor: pointer;
}

.list-item-history a {
    text-decoration: none;
    font-size: 1rem;
    color: #23242a;
    line-height: 38px;
    font-weight: 400;
}


.post {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
}


/* footer */
footer{
    background-color: #23242a;
    color: #ffffff;
    padding: 3rem 0;
}

.conclusion {
    padding: 0 2rem;
}


.footer-intro{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-info{
    width: 400px;
}

.footer-info-contact a{
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}

.footer-icon {
    font-size: 0.9rem;
    vertical-align: middle;
}

.footer-link a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    margin-bottom: 2.3rem;
}

.footer-link a:hover{
    color: #F05626;
}

.footer-contact{
    width: 450px;
}


.footer-contact a{
    text-decoration: none;
}

.footer-contact1{
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center; /* căn giữa dọc */
    width: 100%;
    height: 40px;
    border: 1px solid #f05626;
    border-radius: 6px;
    margin-top: 2rem;
}

.footer-contact-hotline{
    color: #F05626;
    font-weight: 600;
    padding: 10px 8.8rem;
}

.footer-contact-hotline:hover{
    color: #ffffff;
}

.footer-contact-for{
    color: #ffffff;
    font-weight: 600;
    padding: 8px 7.8rem;
}

.footer-contact2{
    background-color: #F05626;
}

